# URL of the scraping target
CMT_SCRAPING_URL=https://www.globalcmt.org/CMTsearch.html
ISC_SCRAPING_URL=

# Database connection URL. 
# Si usas SQLite local (recomendado por ahora si no tienes MySQL):
DATABASE_URL=sqlite:///./seismic_data.db

# Si en algun momento instalas XAMPP/MySQL o tienes un server, descomenta la siguiente linea y comenta la de arriba:
# DATABASE_URL=mysql+mysqlconnector://root:@localhost:3306/seismic_data